

/*** Topo ***/

html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body{
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169,#7c26f8);
    background-attachment: fixed;
}

a.nav-link {
    font-weight: bold;
}

nav.topo {
    padding: 15px 0px;
    background: rgb(0, 0, 0, 0.6);    
}

.navbar-light .navbar-nav .nav-item .nav-link { 
    color: white;
    padding: 15px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover { 
    color: #1fd160;    
}

@media (max-width: 768px){
    .navbar-light .navbar-nav .nav-item .nav-link:hover { 
        background: rgba(26, 25, 25, 0.37); 
    }    
}

.navbar-light .container .navbar-toggler  {
    color: white;
    border-color:white;
}

.divisor {
    width: 2px;
    background: white;
    margin: 18px 15px;
}

@media (max-width: 768px){
    .navbar-nav .nav-item  {
        margin: 0;
    }   
}

/*** Capa ***/

.texto {
    text-align: center;
}

h1.display-1{
    font-weight: bold;
    margin-bottom: 50px;
}

div a.btn {
    text-transform: uppercase;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 9px 19px;
    font-weight: 500;
    transition: 0.4s;
    margin: 0px 5px;
}

#carousel-home .carousel-control-next, #carousel-home .carousel-control-prev {
    width: 5%;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    h1.display-1 {
        font-size: 51px;
    }

    div a.btn {
        margin-bottom: 14px;
    }

    div a.btn-success{
        font-size: 18px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1.display-1 {
        font-size: 59px;
    }

    div a.btn {
        margin-bottom: 14px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1.display-1 {
        font-size: 80px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1.display-1 {
        font-size: 90px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    h1.display-1 {
        font-size: 96px;
    }
}

/*** Serviços ***/

#servicos {
    background: white;
    padding: 25px 0;
}

.albuns img {
    padding: 15px 0;
}

.texto-capa h2{
    font-size: 53px;
    color: #167e3a;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto-capa h3 {
    color: #167e3a;
    font-weight: 700;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

    .albuns img {
        display: none;
    }

    .texto-capa h2{
        font-size: 45px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

    .albuns img {
        display: none;
    }

    .texto-capa h2{
        font-size: 51px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .albuns .espaco{
        margin-top: 40%;
    }

    .albuns img {
        padding-bottom: 90px;
        
    }


}


/* Recursos*/

#recursos {
    padding: 25px 0;
}

.texto-recursos h2{
    font-size: 53px;
    color: white;
    font-weight: bold;
    margin: 20px 0;
}

.texto-recursos h3 {
    color: #9bf0e1;
    font-weight: bold;
}

.texto-recursos p {
    color: white;
}

.rotacionar {
    
    padding-left: 80px;
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);

}

    /* Extra small devices (portrait phones, less than 576px)*/
    @media (max-width: 575.98px) { 
        .rotacionar img {
            display: none;
        }
    }

    /* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 767.98px) { 
        .rotacionar img {
            display: none;
        } 
    }

    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) { 
         .rotacionar{
            transform: rotate(0);
            margin-top: 90px;
            ;
         }

         .cel {
            margin-top: 100px;
         }
    }

/* Rodapé */

#rodapé {

    background: rgb(0, 0, 0);
    position: relative;
    padding: 80px 0 20px 0;
}

#rodapé .logo img {
    width: 142px;
}

#rodapé h4 {
    text-transform: uppercase;
    font-size: 14px;
    color: #919496;
    margin-top: 20px;
    font-weight: bold;
}

#rodapé ul{
    list-style: none;
    
}

#rodapé ul li {
    padding: 8px 0 ;
    display: inline;
    float: right;
    margin: 0 8px;
}

#rodapé ul li a {
    text-decoration: none;
    color: #fff;
}

#rodapé ul li a:hover {
    color: #1fd160;
}

    /* Extra small devices (portrait phones, less than 576px)*/
    @media (max-width: 575.98px) { 
        #rodapé .logo {
            margin-bottom: 15px;
        }

        #rodapé h4 {
            margin-top: 40px;
        }

        #rodapé ul {
            float: left;
            margin-left: 0;
            padding-left: 0;
        }

        #rodapé ul img {

            width: 45px;
            height: 45px;
            margin-top: 80px;
        }
        
    }

    /* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 767.98px) { 

        #rodapé .logo {
            margin-bottom: 20px;
        }

        #rodapé h4 {
            margin-top: 50px;
        }

        #rodapé ul {
            float: left;
            margin-left: 0;
            padding-left: 0;
        }

        #rodapé ul img {

            width: 45px;
            height: 45px;
            margin-top: 80px;
            
        }
        

    }

    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) { 
        
        #rodapé .logo img {
            width: 100px;
        }

        #rodapé h4 {
            font-size: 12px;            
        }

        #rodapé ul li {
            font-size: 14px;
            margin: 0 20px 0 0;  
            padding: 8px 10px 8px 0;          
        }

        #rodapé ul img {

            width: 40px;
            height: 40px;          
            
        }

        #rodapé .redes ul li {
            margin: 0 2px 0 0;
        }

    

    }


